<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Profile">
    <classes>
      <class name="NonReg.TrustServices.MyProfile"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="SwornStatement">
    <classes>
      <class name="NonReg.TrustServices.SwornStatement"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
